.cards {
margin: auto;
margin-top: 30px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 15px;
}

.cards__list{
list-style-type: none;
margin: auto;
padding: 0;

}

.card {
  background-color: white;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}

.card__image {
  width: 282px;
  height: 282px;
  display: block;
  border-radius: 10px 10px 0px 0px;
}

.Card__description {
width: 246px;
height: 23px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
color: black;
}

.card__title {
font-family: Inter;
color: black;
font-size: 24px;
font-weight: 900;
line-height: 29px;
text-align: left;
padding: 0;
align-self: baseline;
}

.card__like-button {
  width: 21px;
  height: 19px;
  background-image: url("../images/like-button.png");
  background-color: white;
  border: none;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button:active {
  background-color: black;
}

@media screen and (min-width: 700px) {

.cards {
  max-width: 880px;
  gap: 12px;
  display: flex;
  flex-wrap: wrap;

}


.card__image {
  width: 282px;
  height: 282px;

}


}