.popup {
width: 430px;
height: 330px;
margin: auto;
border-radius: 10px 0px 0px 0px;
background: white;
 }

.popup__content {

}

.popup__close {

}

.popup__title {
  width: 330px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;


}

.popup__form {

}

.popup__input {
margin-right: 37px;
margin-left: 35;
width: 358px;
height: 27.26px;
border: 1px 0px 0px 0px;
border: 1px solid #000000;

}

.popup__input_type_name {
  width: 358px;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;


}

.popup__input_type_description {
  width: 358px;
  height: 14px;
  font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;


}

.button {


}

.popup__button {
  width: 358px;
  height: 50.15px;
  border-radius: 2px 0px 0px 0px;
  border: 1px 0px 0px 0px;
}
